.nav {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(11, 11, 0),
    rgb(15, 14, 0),
    rgba(48, 41, 0, 0.758),
    rgb(12, 11, 0),
    rgb(41, 41, 0),
    rgb(0, 0, 0)
  );
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
  border: 2px solid #ffcc00;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.nav li {
  padding: 10px 5px;
}
.nav a {
  text-decoration: none;

  color: #fff;
  font-size: 1.4em;

  transition: 0.5s;
}

.nav a:hover,
.nav a.active {
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #ffcc00;
  color: #000;
}

@media screen and (min-width: 720px) {
  .nav a {
    font-size: 2em;
  }
}
@media screen and (min-width: 1920px) {
  .nav a {
  }
}
