.collection-item {
  border: 3px outset rgb(255, 213, 3);
  background-color: #00000008;
  padding: 15px;
  border-radius: 10px;
  text-align: center;

  box-shadow: 0 4px 8px rgba(255, 234, 0, 0.897);
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 30, 0),
    rgb(11, 11, 0),
    rgb(14, 13, 0),
    rgba(0, 0, 0, 0.758),
    rgb(0, 0, 0),
    rgb(25, 25, 0),
    rgb(0, 0, 0)
  );
}

.collection-item:hover {
  transition: 0.4s;
}

.card-image {
  object-fit: contain;
  margin: 10px 0;
  max-width: 110px;
  height: auto;
}
.card-info {
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.price-alert-info {
}

input {
  font-family: "Courier New", Courier, monospace;
}
input[type="number"] {
  font-size: 20px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.alert-status {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 28px;
  height: 30px;
  border-radius: 100%;
}

.alert-status.on {
  border: 2px solid rgb(158, 255, 150);

  background-color: #00ff00;
  box-shadow: 0 0 6px #00ff00;
}

.alert-status.off {
  color: #ff0000;

  font-size: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-status.off::before {
  content: "×";
}

.toggle-alerts-button {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.toggle-alerts-button:hover {
  background-color: #ffcc00;
}

@media screen and (min-width: 540px) {
  .collection-item {
  }
  .card-info {
    float: left;
    border-right: 2.5px solid #b39607d5;

    border-top-right-radius: 30px;

    /* box-shadow: 0px 0px 200px 3px rgb(215, 208, 2); */
  }
  .price-alert-info {
    height: 100%;

    padding-left: 30px;
    padding-right: 30px;
  }
  .price-alert-info p:first-of-type {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .price-alert-info p:last-of-type {
    margin-top: 20px;
    font-size: 1.3em;
  }
  .price-alert-info p {
  }
  .price-alert-info input {
    margin-top: 10%;
  }
}

@media screen and (min-width: 780px) {
  .collection-item {
  }
  .price-alert-info {
    height: 100%;
    font-size: 1.3em;
    width: 400px;
  }
  .price-alert-info p:first-of-type {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .price-alert-info p:last-of-type {
    margin-top: 10px;
    font-size: 1.4em;
  }
  /*  .price-alert-info {
    height: 100%;
    font-size: 1.5em;
  } */
}
