.nav {
  /*  background-color: #000000; */
  padding: 10px;
  text-align: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 8px 8px;
  transition: 0.3s;
  border: 2px solid rgb(255, 217, 0);
  border-radius: 10px;
  display: inline-block;
}

.nav a:hover,
.nav a.active {
  background-color: #ffcc00;
  color: #000;
}

@media (max-width: 768px) {
  .nav ul {
    flex-wrap: wrap;
    gap: 15px;
  }

  .nav a {
    font-size: 16px;
    padding: 6px 12px;
  }
}

@media (max-width: 380px) {
  .nav ul {
    gap: 10px;
  }

  .nav a {
    font-size: 14px;
    padding: 5px 10px;
  }
}
