* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  -webkit-text-stroke: 0.3px black;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(11, 11, 0),
    rgb(15, 14, 0),
    rgba(48, 41, 0, 0.758),
    rgb(0, 0, 0),
    rgb(41, 41, 0),
    rgb(0, 0, 0)
  );
  background-color: #080808;
  color: #fff;
}

.app {
  margin-top: 40px;
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
}
input {
  font-family: "Courier New", Courier, monospace;
}

/* END OF FILE */
/* 
.header {
  width: 100%;
  background-color: #121212;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  height: 180px;
  object-fit: contain;
}


.nav {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 8px 16px;
  transition: 0.3s;
  border-radius: 5px;
}

.nav a:hover,
.nav a.active {
  background-color: #ffcc00;
  color: #000;
}

.card-search-bar {
  text-align: center;
  margin: 20px 0;
}

.search {
  padding: 10px;
  width: 60%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


.card-search-results,
.collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  max-width: 800px;
}

.card-search-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  max-width: 800px;
  margin-bottom: 100px;
}


.card-search-item,
.collection-item {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.collection-header {
  text-align: center;
}

.card-image {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin: 10px 0;
}

.btn {
  background-color: #ffcc00;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.3s;
  margin: 3px;
}

.btn:hover {
  background-color: #e6b800;
}

.login-form,
.sign-up-form {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.form-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffcc00;
}

.form-field {
  margin-bottom: 15px;
  text-align: left;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
}

.form-field input:focus {
  outline: 2px solid #ffcc00;
}


button[type="submit"] {
  background-color: #ffcc00;
  color: #000;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: #e6b800;
}


.valuation {
  display: flex;
}


.footer {
  width: 100%;
  background-color: #121212;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}
 */
